html {
    background-image: linear-gradient(to right, #a8edea 0%, #fed6e3 100%);
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#discac{
    color: black;
}

#sign{
    background-color: #CF2856;
}